body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../img/F.SmartShop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro-container {

    width: 400px;
    background: rgba(15,23,42,0.85);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}

.avatar {

    width: 90px;
    height: 90px;
    background: #2563eb;
    color: white;
    border-radius: 50%;
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

h1 {

    color: #2563eb;
    margin-bottom: 25px;
}

p {

    color: gray;
    margin-bottom: 25px;
}

form {

    margin-top: 25px;
}

input {

    width: 90%;
    padding: 12px;
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}

button {

    width: 90%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    font-size: 16px;

    cursor: pointer;
}

button:hover {

    background: #1d4ed8;
}